@use './src/styles/base/reset';
@use './src/styles/mixins/visual';
@use '/src/styles/constants/colors';

.hidden {
  @include visual.hidden();
}

.modalMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
